html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.command-container {
  display: flex;
  flex-direction: row;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.command-container .command {
  margin: 0 8px;
}
